* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
    background: linear-gradient(#000, #0f0, #000);
    animation: animate 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration {
    display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #222;
	width: 400px;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

form h1 {
    color: #0f0;
    text-align: center;
}

.area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input {
    display: flex;
}

.input__area {
    width: 100%;
    padding: 15px 10px;
    background: #333;
    outline: none;
    border: none;
    color: #fff;
}

.eye {
    background-color: #333;
    border: none;
    width: 35px;
    font-size: 17px;
    color: #222;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.forgot {
    color: #fff;
    text-decoration: none;
}

.signin {
    color: #0f0;
	font-weight: 600;
    text-decoration: none;
}

.registerbtn {
    padding: 10px;
	background: #0f0;
	color: #111;
	font-weight: 600;
	font-size: 1.25em;
	letter-spacing: 0.05em;
	border: none;
    width: 100%;
}